.card-basic {
  width: 100%;
  max-width: 100%;
  max-height: 30em;
  background-color: var(--color-dark);
  background-size: cover;
  background-position: center center;
  height: 20em;
  width: 20em;
  position: relative;
}

.sharp-as-knives {
  background-image: url("{{site.baseurl}}/images/skknife.jpg");
  background-size: cover;
  background-position: center;
}

.motion-reel {
  background-image: url("{{site.baseurl}}/images/mother-walk.gif");
  background-size: cover;
  background-position: center;
}

.illustration {
  background-image: url("{{site.baseurl}}/images/david.png");
  background-size: cover;
  background-position: center;
}

.pride-centre {
  background-image: url("{{site.baseurl}}/images/pride-centre.jpg");
  background-size: cover;
  background-position: center;
}

.qwords {
  background-image: url("{{site.baseurl}}/images/quinn-2.jpg");
  background-size: cover;
  background-position: center;
}

.bird-skate {
  background-image: url("{{site.baseurl}}/images/bird-skate.png");
  background-size: cover;
  background-position: center;
}

.poster-project {
  background-image: url("{{site.baseurl}}/images/posters.jpg");
  background-size: cover;
  background-position: center;
}

.prideweek {
  background-image: url("{{site.baseurl}}/images/prideweek.jpg");
  background-size: cover;
  background-position: center;
}
