
.card-basic {
  max-width: 100%;
  max-height: 30em;
  background-size: cover;
  background-position: center center;
  height: 20em;
  width: 20em;
  position: relative;
}

.color-overlay {
  max-height: 30em;
  height: 20em;
  width: 20em;
  background-color: var(--color-primary);
  opacity: 0.75;
}


.color-overlay:hover {
  opacity: 0.75;
}

.sharp-as-knives {
  background-image: url("../images/skknife.jpg");
  background-size: cover;
  background-position: center;
}

.motion-reel {
  background-image: url("../images/mother-walk.gif");
  background-size: cover;
  background-position: center;
}

.illustration {
  background-image: url("../images/david.jpg");
  background-size: cover;
  background-position: center;
}

.pride-centre {
  background-image: url("../images/pride-centre.jpg");
  background-size: cover;
  background-position: center;
}

.qwords-square {
  background-image: url("../images/quinn-2.jpg");
  background-size: cover;
  background-position: center;
}

.findev-square {
  background-image: url("../images/fd-3.jpg");
  background-size: cover;
  background-position: center;
}

.posters {
  background-image: url("../images/posters.jpg");
  background-size: cover;
  background-position: center;
}

.prideweek {
  background-image: url("../images/prideweek.jpg");
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 60em) {

  .color-overlay {
    opacity: 0;
  }

  .card-title {
    opacity: 0;
  }

  .card-basic:hover .card-title {
    opacity: 1;
  }


}
