.card-title h4 {
  font-family: var(--font-primary);
  letter-spacing: 0.3em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  margin: auto;
}

.card-basic:hover .color-overlay {
  opacity: 0.8;
  background-color: var(--color-primary);
}

.recent-work {

  max-width: 50em;
}

.recent-work-outer {

  margin: 1em;
  max-width: 50em;
  display: block;
  margin: auto;
  margin-top: 2em;

}

.divider img {
  width: 100%;
  max-width: 15em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 1.5em;
  display: block;
}

.divider {
  position: relative;
  display: block;
  height: 18em;
}



.about .hello img {
  width: 10em;
  display: block;
  margin: auto;
}

.about .intro {
  margin-top: 3em;
}

.about .portrait img {
  width: 100%;
  padding: 1em;
  display: block;
  margin: auto;
}

.about {
  max-width: 50em;
  display: block;
  margin: auto;
}

.about-text {
  padding: 1em;
}

.about-text p {
  color: var(--color-primary);
}

.descrip-text {
  max-width: 20em;
  display: block;
  margin: auto;
}

.project img {
  width: 100%;

}

.project {
  padding: 2em;
  max-width: 50em;
  display: block;
  margin: auto;
}

.video {
  width: 100%
}

.footer-all p {
  color: white;
}

@media only screen and (min-width: 38em) {

  .descrip-text {
    max-width: 30em;
  }

}
