:root {
  --color-primary: #352249;
  --color-secondary: #FBE8A6;
  --color-accent: #6DCFF6;
  --color-dark: #35484e;
  --background-color: #EA3E72;

  --font-primary: "mr-eaves-sans",arial,sans-serif;
  --font-secondary: "museo-sans",arial,sans-serif;
  --font-buttons: "mr-eaves-sans",arial,sans-serif;
}

  h1 {
    font-family: var(--font-secondary);
    font-weight: 900;
    letter-spacing: 0.3em;
    color: white;
    margin: 0;
  }

  h2 {
    font-family: var(--font-primary);
    font-weight: normal;
    letter-spacing: 0.1em;
    color: var(--color-secondary);
  }

  h3 {
    font-family: var(--font-buttons);
    font-weight: normal;
    letter-spacing: 0.1em;
    color: var(--color-dark);
  }

  h4 {
    font-family: var(--font-primary);
    font-weight: normal;
    color: var(--color-dark);
  }

  p {
    font-family: var(--font-primary);
    font-weight: 200;
    color: white;
  }

  body {
    background-color: var(--background-color)
  }
