:root {
  --color-primary: #271A36;
  --color-secondary: #D41F3B;
  --color-accent: #E4DE65;
  --color-dark: #35484e;
  --background-color: white;

  --font-primary: "quasimoda",arial,sans-serif;
  --font-secondary: "museo-sans",arial,sans-serif;
  --font-buttons: "quasimoda",arial,sans-serif;
}

  h1 {
    font-family: var(--font-secondary);
    font-weight: 900;
    letter-spacing: 0.3em;
    color: white;
    margin: 0;
  }

  h2 {
    font-family: var(--font-primary);
    font-weight: normal;
    letter-spacing: 0.1em;
    color: var(--color-secondary);
  }

  h3 {
    font-family: var(--font-buttons);
    font-weight: normal;
    letter-spacing: 0.1em;
    color: var(--color-dark);
  }

  h4 {
    font-family: var(--font-primary);
    font-weight: normal;
    color: var(--color-accent);
  }

  p {
    font-family: var(--font-primary);
    font-weight: 200;
    color: white;
  }

  body {
    background-color: var(--background-color)
  }

  .sharpasknives {
    background-color: white;
  }

  .sharpasknives h1 {
    color: var(--background-color);
  }

  .sharpasknives p {
    color: var(--color-primary);
  }

  .pridecentre {
    background-color: white;
  }

  .pridecentre h1 {
    color: var(--background-color);
  }

  .pridecentre p {
    color: var(--color-primary);
  }

  .motion {
    background-color: var(--color-primary);
  }

  .motion h1 {
    color: white;
  }

  .motion p {
    color: white;
  }

  .illustration-page {
    background-color: var(--color-primary);
  }

  .illustration-page h1 {
    color: white;
  }

  .illustration-page p {
    color: white;
  }

  .qwords {
    background-color: var(--color-primary);
  }

  .qwords h1 {
    color: white;
  }

  .qwords p {
    color: white;
  }

  .poster-project {
    background-color: white;
  }

  .poster-project h1 {
    color: var(--color-secondary);
  }

  .poster-project p {
    color: var(--color-primary);
  }

  .campus-pride-week {
    background-color: white;
  }

  .campus-pride-week h1 {
    color: var(--background-color);
  }

  .campus-pride-week p {
    color: var(--color-primary);
  }

  .findev {
    background-color: white;
  }

  .findev h1 {
    color: var(--color-primary);
  }

  .findev p {
    color: var(--color-primary);
  }

  .missing {
    background-color: var(--color-accent);
  }

  .missing h1 {
    color: var(--background-color);
  }

  .missing p {
    color: var(--color-primary);
  }

  .fa {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }

  .hello-there {
    color: var(--color-secondary);
  }

  .intro-line {
    color: var(--color-secondary);
  }

  .header-text {
    max-width: 25em;
    padding-top: 1em;
  }

@media only screen and (min-width: 47.2em) {

  .prideweek {
    margin-right: 0;
  }

  .sharp-as-knives {
    margin-left: 0;
  }

  .motion-reel {
    margin-right: 0;
  }

  .pride-centre {
    margin-left: 0;
  }

  .illustration {
    margin-right: 0;
  }

  .qwords-square {
    margin-left: 0;
  }

  .posters {
    margin-right: 0;
  }

  .bird-skate {
    margin-left: 0;
  }

  .header-text {
    padding-top: 5em;
  }

}
