<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link href="{{site.baseurl}}/common/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/common/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/common/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/common/theme.css" rel="stylesheet">
  <link href="{{site.baseurl}}/patterns/banners/banners.css" rel="stylesheet">
  <link href="{{site.baseurl}}/patterns/brand/brand.css" rel="stylesheet">
  <link href="{{site.baseurl}}/patterns/buttons/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/patterns/cards/cards.css" rel="stylesheet">
  <link href="{{site.baseurl}}/patterns/footer/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/patterns/header/header.css" rel="stylesheet">
  <link href="{{site.baseurl}}/patterns/other/other.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
