<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Katrin Emery</title>
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Katrin Emery's graphic design portfolio.">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="Katrin Emery Portfolio">
  <meta property="og:url" content="http://kemery.ca/">
  <meta property="og:image" content="http://kemery.ca/images/girl-header.jpg">
  <meta property="og:site_name" content="Katrin Emery Portfolio">
  <meta property="og:description" content="Katrin Emery's graphic design portfolio.">
  <meta property="fb:app_id" content="APPID"/>
</head>
<body class="{{page.bodyclass}}">

  {{content}}

</body>

<div class="footer-all grid center-text island-quarter">
  <div class="copyright center-text unit xs-1 s-1 m-1 l-1 xl-1">
    <p>© 2018 Katrin Emery</p>
  </div>

  <div class="social-media right unit xs-1 s-1 m-1 l-1 xl-1">
    <a href="https://www.linkedin.com/in/katrin-emery/" class="fa fa-linkedin" rel="external"></a>
    <a href="https://vimeo.com/user42542197" class="fa fa-vimeo" rel="external"></a>
    <a href="https://dribbble.com/KatrinEmery" class="fa fa-dribbble" rel="external"></a>
  </div>
</div>

</html>
